.top {

  background: #ffffff;
  border-radius: 3px;

  .form {
    background: #ffffff;
    overflow: hidden;
    display: flex;

    > .input-area {
      display: inline-block;
      text-align: center;
      flex: 1;
      width: 33.3%;
      margin: 20px 0 10px;
    }
  }


  > .button-area {
    margin: 10px 0 20px;
    text-align: center;

    :global {
      .ant-btn {
        margin: 10px 15px 20px;
      }
    }

  }

}

.title {
  position: relative;
  padding: 0 20px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 3px;
  color: #000;
  border-top: 3px solid #86c6fa;
  height: 40px;
  line-height: 37px;
  background: #9bd0fa;

  > .icon {
    float: right;
    margin-top: 10px;
    font-weight: 400;
  }
}

.content {
  .table {
    background: #ffffff;
    padding: 0 20px 10px;
  }
}
